/*    GLOBAL    */
body {
  font-family: 'Quicksand', sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}
footer {
  text-align: center;
  padding: 15px;
  opacity: .5;
  font-size: 14px;
}
a {
  text-decoration: none;
}
h2{
  letter-spacing: 2px;
}
#wrapper {
  padding: 40px;
}
#about,
#skills,
#projects,
#contact {
  margin: 80px 0;
}
hr {
  border: .5px solid gold;
}

/* hide lg screen panel content in nav */
.lg-panel {
  display: none;
}


/*    END GLOBAL    */



/*    NAVIGATION    */

#navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.menu {
  font-size: 16px;
  cursor: pointer;
}
.menu:hover {
  opacity: .5;
  transition: .5s;
}
.menu-links {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/* 'overlay' affect for menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
}

/* hides overlay addEventListener */
.js-is-hidden {
	width: 0%;
}

/*    END NAVIGATION    */


/*    LANDING   */
#landing {
  background: url('./img/landing.jpeg') no-repeat center center / cover;
  overflow: hidden;
  max-width: 100%;
  height: 450px;
  color: #fff;
}
.landing-content {
  padding: 70px 50px;
}
#landing p {
  text-align: right;
  letter-spacing: 5px;

}

#landing h1 {
  letter-spacing: 3px;
  margin-top: 0;
  font-size: 40px;
  text-transform: uppercase;
}
#landing span {
  opacity: .9;
  font-size: 30px;
}

/* cursor */
.txt-type > .txt{
  border-right: 0.2rem solid gold;
}
/*    END LANDING    */

/* ABOUT */
#about {
  margin: 50px 0;
  padding: 50px 0 ;
}
#about a {
  color: pink;
  padding: 40px;
}
#about p {
  padding-bottom: 50px;
}

/* END ABOUT */

/* SKILLS */
#skills {
  padding: 60px;
  border: solid 1px #eee;
}
#skills span {
  font-size: 17px;
  display: block;
  letter-spacing: 2px;
}
#skills p {
  padding-left: 150px;
  line-height: 24px;
  margin: 0;
  color: gray;
}
.skills-content {
  padding-bottom: 50px;
}
/* END SKILLS */


/* PROJECTS */
#projects h3,
.date {
  font-family: 'Julius Sans One', sans-serif;
}
#projects h3 {
  letter-spacing: 2px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 0;
  padding-top: 50px;
}
.date {
  color: gold;
  font-size: 15px;
  margin-top: 0;
  padding: 5px 10px;
}

.card {
  position: relative;
}

.card-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-image {
  opacity: 0.5;
  counter: pointer;
}

.card:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ffcccc;
  color: white;
  font-size: 16px;
  padding: 15px;
  opacity: 1;
  transition: .5s ease;
}
.text:hover {
  background-color: gold;
}

.card-1 {

}
.card-2 {

}
/* shown on sm screens */
.sm-view-project {
  text-align: center;
  padding: 30px;
}
.sm-view-project a{
  padding: 15px;
  letter-spacing: 2px;
  background-color: #ffcccc;
  color: #fff;
}
/* END PROJECTS */

/* CONTACT */

#contact a{
  color: #ffcccc;
  transition: .5s ease;
}
#contact a:hover {
  opacity: .5;
  transition: .6s;
}

.email-div {
  padding: 50px 30px;
  color: #fff;
  text-align: center;
}

.socialmedia-sm {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
/* END CONTACT */


/* FOOTER */

/* END FOOTER */
@media screen and (max-height: 450px) {
/*    NAVIGATION    */
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
/*    END NAVIGATION    */
}
@media screen and (min-width: 680px) {
  #landing,
  #wrapper {
    width: 50%;

  }
  #fixed-nav {
    padding: 50px;
    background-color: pink;
    position:fixed;
    right: 0px;
    top: 0px;
    width: 20%;
    height: 100%;
    float: right;
  }

  /* hide while in lg screen  */
  .sm {
    display: none;
  }

  .menu {
    font-size: 13px;
    color: #fff;
  }
  .closebtn {
    display: none;
  }
  .lg-panel,
  .lg-panel a {
    display: block;
    color: #fff;
  }
  .lg-panel a {
    opacity: .7;
    font-size: 20px;
  }
  .lg-panel p {
    padding: 30px 0;
  }
  .lg-panel a:hover {
    opacity: 1;
    transition: .6s;
  }
  .socialmedia-lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
      padding-top: 250px;
  }
  .download-files-lg {
    text-align: center;
    letter-spacing: 3px;
    margin-top: 20px;
    padding-top: 20px;
  }
  .download-files-lg a {
    font-size: 13px;
  }
}
